tr{
    background-color: bisque;
    border-color: black;
    
}
td{
    background-color: aqua;
    text-align-last: right;
}
#nimi{
    background-color:  #99ffcc;
    text-align-last: left;
}
table{
    border-style: dotted;
    border-color: #cc00cc;
}